@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "MacPaw";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/MacPawFixelDisplay-Regular.otf) format("otf");
  }
  @font-face {
    font-family: "MacPaw";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/MacPawFixelDisplay-Medium.otf) format("otf");
  }
  @font-face {
    font-family: "MacPaw";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/MacPawFixelDisplay-SemiBold.otf) format("otf");
  }
  @font-face {
    font-family: "MacPaw";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/MacPawFixelDisplay-Bold.otf) format("otf");
  }
}
body {
  font-family: "MacPaw";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  @apply text-black bg-white;
}

.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .auth-container {
    max-width: 768px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .auth-container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.input {
  @apply w-full h-full px-[18px] py-4 placeholder:text-black bg-transparent rounded-[15px] border outline-none;
}
